@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
/* --- css variables --- */
:root {
  --primary-color: #1d4ed8;
  --dark-gray-color: #6b7280;
  --bg-gray-color: #191919;
  --ow-color: #f3f2f2;
}

/* --- Typography --- */

body {
  position: relative;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: #f6f6f60e;
}

body.dark-theme {
  background-color: #111;
  color: white;
}

body.dark-theme .section-ow {
  background-color: var(--bg-gray-color);
}

/* --- Containers --- */

.container {
  padding: 0rem 1rem;
}

.container-center {
  max-width: 600px;
  margin: auto;
}

/* --- links --- */

.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
}

.link-primary {
  background-color: var(--primary-color);
  color: white;
}

.link-secondary {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.link-special-primary {
  color: var(--primary-color);
  letter-spacing: 0.2rem;
  font-weight: 500;
  padding-left: 0;
  transition: 0.5s;
}

.link-special-primary:hover,
.link-special-primary:active {
  background-color: var(--primary-color);
  color: white;
  padding: 0.5rem 1rem;
}

.link-special-secondary {
  color: var(--primary-color);
  letter-spacing: 0.2rem;
  font-weight: 500;
  padding-left: 0;
  border: 1px solid transparent;
  transition: 0.5s;
}

.link-special-secondary:hover,
.link-special-secondary:active {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 0.5rem 1rem;
}

/* hr tag */
hr {
  margin: 2.5rem 0rem;
}

/* --- lists --- */

.list-non-bullets {
  list-style: none;
}

.list-item-inline {
  display: inline-block;
  padding: 0rem 0.5rem;
}

/* --- navigation --- */

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  color: white;
  border-bottom-left-radius: 1rem;
  padding: 1.5rem;
}

.nav-brand {
  font-weight: bold;
}

.navigation .link {
  color: white;
  letter-spacing: 0.2rem;
  transition: 1s;
}

.link-active {
  font-weight: bold;
}

.nav-pills .link:hover,
.nav-pills .link:active {
  letter-spacing: 0.3rem;
}

.nav-image {
  max-width: 80px;
  justify-self: flex-start;
}

/* --- header --- */

.hero {
  padding: 2rem;
}

.hero-img {
  max-width: 400px;
  display: block;
  margin: auto;
  padding-top: 3rem;
}

.hero-text {
  padding-top: 1rem;
  color: var(--dark-gray-color);
  text-align: center;
  line-height: 160%;
}

.hero-inverted {
  color: var(--primary-color);
}

/* --- sections --- */

.section {
  padding: 1rem 0rem;
}

.section h1 {
  text-align: center;
  padding-top: 1rem;
  letter-spacing: 0.1rem;
}

.section-ow {
  background-color: var(--ow-color);
}

/* --- footer --- */

.footer {
  background-color: var(--primary-color);
  color: white;
  padding: 2rem 1rem;
  border-top-right-radius: 1rem;
  text-align: center;
}

.footer div {
  font-weight: bold;
  font-size: large;
}

.footer ul {
  padding-inline-start: 0px;
}

.footer .link {
  color: white;
}

/* --- Extra CSS  --- */

.section .link {
  display: inline-block;
  margin: 0.5rem 0rem;
}

.link-green {
  color: #2ecc40;
}

.link-green:hover,
.link-green:active {
  color: #2ecc40;
  border: 1px solid #2ecc40;
}

body {
  line-height: 160%;
}

/* --- icon color effect --- */

.github,
.linkedin,
.reddit {
  font-size: xx-large;
  margin-right: 0.5rem;
  vertical-align: middle;
  transition: 0.3s;
}

.github:hover,
.github:active {
  color: #333;
  transform: scale(1.5);
}

.linkedin:hover,
.linkedin:active {
  transform: scale(1.5);
}

.reddit:hover,
.reddit:active {
  color: #ff4301;
  transform: scale(1.5);
}

/* Absolute Positioned elements */

/* theme toggle button */

button {
  border: none;
  outline: none;
}

.btn-theme {
  position: absolute;
  top: 150px;
  right: 3%;
  font-family: "Montserrat", sans-serif;
  transition: 0.5s;

  text-decoration: none;
  border-radius: 0.6rem;
  padding: 12px 17px;
  border: solid 2px #535353;
  color: white;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  font-weight: bold;
  transition: 0.4s;
  font-size: 0.73rem;
  background-color: #36383d;
}

.btn-theme:hover {
  background-color: #535353;
  color: white;
}

/* .btn-theme:active {
  transform: translate(+2%, +10%);
  box-shadow: 7px 5px 5px rgba(0, 0, 0, 0.5);
  border: none;
} */

.btn-light {
  background-color: white;
  color: #111;
}

.btn-light:hover {
  background-color: #c6c6c7;
  color: #202124;
}

/* GIF/Images CSS */

.image {
  max-width: 600px;
  border-radius: 0.5rem;
  margin: 1rem 0rem;
}
